$grey-100: #f0f0f0;
$grey-200: #E7E7E7;
$grey-300: #C1C1C1;
$grey-400: #A8A8A8;

$cell-color: $grey-100;

$main-input-border: 1px solid $grey-400;
$cell-width: 9.4rem;
$cell-height: 3rem;
$row-index-width: 3rem;
$column-letter-height: 3rem;

